[Unit]
Description=Automatically provision system using ansible-pull
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/provision-system

[Install]
WantedBy=multi-user.target
